main {
    padding: 0px;
    margin: auto;
    margin-bottom: 1%;
    align-items: center;
    width: 70%;
    color: white;
   
}
    
    .titleAU{
        text-align: center;
        margin-bottom: 1px;
        padding-top: 3px;
}
    .subtitleAU{
        text-align: center;
        font-style: italic;
        font-size: 20px;
        margin-top: 2px;
        padding-bottom: 3px;
}
    
    .linkAU {
        color: blue;
        text-decoration: underline;
}

    .textAU{
        background-color: rgb(0, 0, 0, 0.3);
        color: white;
        border-radius: 15px;
        width: 95%;
        margin: auto;
        margin-bottom: 8%;
        padding: 1px;
        align-items: left;
        padding-left: 2%;
        padding-right: 2%;
}

