html * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: black;
        color: white;
    }
    .titleAU{
        text-align: center;
        margin-bottom: 1px;
    }
    .subtitleAU{
        text-align: center;
        font-style: italic;
        font-size: 20px;
        margin-top: 2px;
    }
    
    .linktoDb {
        color: blue;
        text-decoration: underline;
    }

    h2 {
        display: inline-block;
        padding-left: 10px;
    }

    h3 {
        padding-bottom: 0px;
    }

    p {
        padding-top: 0px;
    }
