main{
    color: black;
}

.frontBox {
    font-size:xx-large;
    margin: auto;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #002a38;
}

.frontBox p{
  color: white;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 400px;
    
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .playButton {
    position: absolute;
    height: 60px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #002a38;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
  }

  .playButton:hover{
    background-color: rgb(255, 255, 255, 0.5);
    color:black;
  }